{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>ZenImport</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <link
      href="{% static 'vendor/boxicons/css/boxicons.min.css'%}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/quill/quill.snow.css'%}" rel="stylesheet" />
    <link href="{% static 'vendor/quill/quill.bubble.css'%}" rel="stylesheet" />
    <link
      href="{% static 'vendor/remixicon/remixicon.css'%}"
      rel="stylesheet"
    />

    <link
      href="{% static 'vendor/simple-datatables/style.css'%}"
      rel="stylesheet"
    />
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"
    />

    <!-- DataTables Buttons CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css"
    />

    <!-- DataTables JS -->
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"
    ></script>

    <!-- DataTables Buttons JS -->
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"
    ></script>
    <!-- Datatables -->
    <script src="{% static 'js/exports.js'%}"></script>

    <!-- Favicons -->
    <link href="{% static 'img/favicon.jpeg'%}" rel="icon" />
    <link href="{% static 'img/favicon.jpeg'%}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <!--Importacion de Izi toast alertas-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
      integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
      integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/messageDelete.js' %}"></script>

    <!--Importacion de Librerias-->
    <script src="{% static 'libraries/jquery-validate/jquery.validate.js'%}"></script>
    <!-- Validaciones:js -->
    <script src="{% static 'js/formSchemas.js'%}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
      integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="{% static 'js/select.js'%}"></script>
    <!-- Bootstrap Fileinput JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
    <!-- español fileinput -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/es.min.js"></script>

    <!--Importacion de FileInput-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css"
    />
    <script src="{% static 'js/inputFile.js'%}"></script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{% static 'img/favicon.jpeg'%}" title="Logo" />
          <span class="d-none d-lg-block" title="Inicio">ZenImport</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="GET"
          action="/buscarClientes/"
        >
          {% csrf_token %}
          <input
            type="text"
            name="query"
            placeholder="Buscar clientes..."
            title="Enter search keyword"
          />
          <button type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>

      <!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>

          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="{% static 'img/user.png'%}"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2"
                >AlexHolaMundo</span
              > </a
            ><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>AlexHolaMundo</h6>
                <span>Software Developer</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="{% static 'img/user.png'%}"
                >
                  <i class="bi bi-person"></i>
                  <span>Ver foto</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="/">
            <i class="bx bxs-dashboard"></i>
            <span>Inicio</span>
          </a>
        </li>
        <li class="nav-heading">Secciones</li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/listaClientes">
            <i class="bi bi-people"></i>
            <span>Clientes</span>
          </a>
        </li>
        <!-- End Clientes Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/listaProveedores">
            <i class="bx bx-cart-download"></i>
            <span>Proveedor</span>
          </a>
        </li>
        <!-- End Proveedor Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/listaCatalogos">
            <i class="bx bx-book-open"></i>
            <span>Categoria</span>
          </a>
        </li>
        <!-- End Catalogo Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/listaPedidos">
            <i class="bi bi-cart"></i>
            <span>Pedidos</span>
          </a>
        </li>
        <!-- End Pedidos Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/listaProductos">
            <i class="bx bx-package"></i>
            <span>Productos</span>
          </a>
        </li>
        <!-- End Productos Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/listaDetalles">
            <i class="bx bx-spreadsheet"></i>
            <span>Detalle</span>
          </a>
        </li>
        <!-- End Detalle Page Nav -->
        <br />
        <li class="nav-heading">Acciones</li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/enviarCorreo">
            <i class="bi bi-envelope-at"></i>
            <span>Notificar a clientes</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/admin" target="_blank">
            <i class="bx bx-cog"></i>
            <span>ADMINISTRAR SITIO</span>
          </a>
        </li>
        <!-- End Admin Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    {%block contenido%} {%endblock%}
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Created By:
        <strong><span>AlexHolaMundo || LizzyJoss</span></strong>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    {% if messages %} {% for message in messages %}
    <script>
      iziToast.success({
        title: 'ATENCION',
        message: '{{message}}',
        position: 'topLeft',
      })
    </script>
    {% endfor %} {% endif %}
  </body>
  <!-- Vendor JS Files -->
  <script src="{% static 'js/charts.js'%}"></script>
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'vendor/quill/quill.min.js'%}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js'%}"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
    integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>
  <!--Formulario para edicion-->
  <script src="{% static 'js/editForms.js'%}"></script>
</html>
