{% extends '../plantilla.html'%} {%block contenido%} {%load static%}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Notificar</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item">Secciones</li>
        <li class="breadcrumb-item active">Notoficacion</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section contact">
    <div class="row gy-4">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-geo-alt"></i>
              <h3>Direccion</h3>
              <p>Quito - Ecuador <br />Av. Simon Bolivar</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-telephone"></i>
              <h3>Telefono de contacto</h3>
              <p>+593-959084127<br />+593-987002084</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Correo electronico</h3>
              <p>zenImport01@gmail.com<br />josselinespin01@gmail.com</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-clock"></i>
              <h3>Horario de atencion</h3>
              <p>Lunes - Viernes<br />9:00AM - 19:00PM</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card p-4">
          <form
            action="/enviarCorreo/"
            method="POST"
            class=""
            id="formContacto"
          >
            {% csrf_token %}
            <div class="row gy-4">
              <h3 style="color: #395890">Notificar clientes</h3>

              <div class="col-md-12">
                <input
                  type="email"
                  class="form-control"
                  name="destinatario"
                  id="destinatario"
                  placeholder="alguien@genial.com"
                  required
                />
              </div>

              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  name="asunto"
                  id="asunto"
                  placeholder="El asunto de tu mensaje"
                  required
                />
              </div>

              <div class="col-md-12">
                <textarea
                  class="form-control"
                  name="mensaje"
                  id="mensaje"
                  rows="6"
                  placeholder="Escribe tu mensaje aquí"
                  required
                ></textarea>
              </div>

              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-registrar">
                  Enviar Mensage
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="height: 360px"></div>
  </section>
</main>
<!-- End #main -->
{%endblock%}
