{% extends '../plantilla.html' %} {%block contenido%} {%load static%}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Productos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item">Productos</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Registro de Productos</h5>
            <!-- Multi Columns Form -->
            <form
              class="row g-3"
              method="POST"
              action="/guardarProducto/"
              enctype="multipart/form-data"
              id="formProductos"
            >
              {% csrf_token %}
              <div class="col-md-4">
                <label for="" class="form-label">Nombre del Producto</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                />
              </div>
              <div class="col-md-4">
                <label for="" class="form-label">Precio </label>
                <input
                  type="number"
                  class="form-control"
                  id="precio"
                  name="precio"
                />
              </div>
              <div class="col-md-4">
                <label for="" class="form-label">Stock</label>
                <input
                  type="number"
                  class="form-control"
                  id="stock"
                  name="stock"
                />
              </div>
              <div class="col-md-12">
                <label for="" class="form-label">Descripcion</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                ></textarea>
              </div>

              <div class="col-md-12">
                <label for="inputName5" class="form-label">Fotografia</label>
                <input
                  type="file"
                  class="form-control"
                  id="fotografia"
                  name="fotografia"
                  accept="image/*"
                />
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Proveedor</label>
                <select
                  name="idProveedor"
                  id="idProveedor"
                  required
                  class="form-control selectProveedor m-0 p-0"
                >
                  <option value="">-- Seleccione una opcion --</option>
                  {% for proveedor in proveedores %}
                  <option value="{{proveedor.idProveedor}}">
                    {{proveedor.nombre}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label for="" class="form-label">Categoria</label>
                <select
                  name="idCatalogo"
                  id="idCatalogo"
                  required
                  class="form-control selectCatalogo m-0 p-0"
                >
                  <option value="">-- Seleccione una opcion --</option>
                  {% for catalogo in catalogos %}
                  <option value="{{catalogo.idCatalogo}}">
                    {{catalogo.categoria}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-registrar">
                  Registrar <i class="bx bx-save"></i>
                </button>
                <button type="reset" class="btn btn-cancelar">
                  Cancelar <i class="bx bx-message-square-x"></i>
                </button>
              </div>
            </form>
            <!-- End Multi Columns Form -->
          </div>
        </div>
      </div>

      <!-- ChartJs -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Estadisticas de productos</h5>
            <canvas id="chartProductos"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Recent Ventas -->
      <div class="col-12">
        <div class="card recent-sales overflow-auto">
          <div class="card-body">
            <h5 class="card-title">Lista de Productos</h5>
            <table class="table table-borderless datatable" id="exportaciones">
              <thead>
                <tr>
                  <th scope="col" class="text-center">ID</th>
                  <th scope="col" class="text-center">Nombre</th>
                  <th scope="col" class="text-center">Precio</th>
                  <th scope="col" class="text-center">Stock</th>
                  <th scope="col" class="text-center">Descripcion</th>
                  <th scope="col" class="text-center">Fotografia</th>
                  <th scope="col" class="text-center">Proveedor</th>
                  <th scope="col" class="text-center">Catalogo</th>
                  <th scope="col" class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {%for producto in productos %}
                <tr>
                  <th class="text-center">
                    <a href="">{{producto.idProducto}}</a>
                  </th>
                  <td class="text-center" data-nombre="{{producto.nombre}}">
                    {{producto.nombre}}
                  </td>
                  <td class="text-center" data-precio="{{producto.precio}}">
                    {{producto.precio}}
                  </td>

                  <td class="text-center" data-stock="{{producto.stock}}">
                    {{producto.stock}}
                  </td>
                  <td
                    class="text-center green"
                    data-descripcion="{{producto.descripcion}}"
                  >
                    {{producto.descripcion}}
                  </td>
                  <td>
                    {% if producto.fotografia %}
                    <a href="{{producto.fotografia.url}}" target="_blank">
                      <img
                        src="{{producto.fotografia.url}}"
                        alt=""
                        height="50px"
                      />
                    </a>
                    {% else %}
                    <b>N/A</b>
                    {% endif %}
                  </td>
                  <td
                    class="text-center text-primary"
                    data-nombreProveedor="{{producto.proveedor.idProveedor}}"
                  >
                    {{producto.proveedor.nombre}}
                  </td>
                  <td
                    class="text-center text-primary green"
                    data-categoria="{{producto.catalogo.idCatalogo}}"
                  >
                    {{producto.catalogo.categoria}}
                  </td>

                  <td class="text-center w-auto">
                    <a
                      href=""
                      data-target="#modalEditarProducto{{producto.idProducto}}"
                      data-producto-id="{{producto.idProducto}}"
                      class="btn-editar-trigger-producto"
                    >
                      <i class="bx bxs-edit btn-editar" title="Editar"></i>
                    </a>

                    <a
                      href="javascript:void(0);"
                      onclick="eliminarProducto('/eliminarProducto/{{producto.idProducto}}')"
                      ><i class="bx bxs-trash btn-eliminar" title="Eliminar"></i
                    ></a>
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Recent Ventas -->
    </div>
  </section>
</main>
<!-- End #main -->
<!-- Modal -->
<div
  class="modal fade"
  id="modalEditarProducto{{producto.idProducto}}"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pagetitle">
          <h1>Editar Producto</h1>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-productoForm modal-body">
        <form
          class="row g-3"
          method="POST"
          action="/actualizarProducto/"
          enctype="multipart/form-data"
          id="formProductos"
        >
          {% csrf_token %}
          <input
            type="hidden"
            class="form-control"
            name="idProducto"
            id="idProducto"
            value="{{producto.idProducto}}"
          />
          <div class="col-md-4">
            <label for="" class="form-label">nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              value="{{producto.nombre}}"
            />
          </div>
          <div class="col-md-4">
            <label for="" class="form-label">Precio</label>
            <input
              type="text"
              class="form-control"
              id="precio"
              name="precio"
              value="{{producto.precio}}"
            />
          </div>
          <div class="col-md-4">
            <label for="" class="form-label">Stock</label>
            <input
              type="text"
              class="form-control"
              id="stock"
              name="stock"
              value="{{producto.stock}}"
              placeholder=""
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Descripcion</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              value="{{producto.descripcion}}"
              placeholder=""
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label"
              >Actualizar Fotografia (Opcional)</label
            >
            {%if producto.fotografia%}
            <input
              type="file"
              class="form-control"
              id="fotografia"
              name="fotografia"
              accept="image/*"
            />
            {%else%}
            <input
              type="file"
              class="form-control"
              id="fotografia"
              name="fotografia"
              accept="image/*"
            />
            {%endif%}
          </div>

          <div class="col-md-6">
            <label for="" class="form-label">Proveedor</label>
            <select
              name="idProveedor"
              id="idProveedor"
              required
              class="form-select"
            >
              <option value="">-- Seleccione una opcion --</option>
              {% for proveedor in proveedores %}
              <option value="{{proveedor.idProveedor}}">
                {{proveedor.nombre}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Catalogo</label>
            <select
              name="idCatalogo"
              id="idCatalogo"
              required
              class="form-select"
            >
              <option value="">-- Seleccione una opcion --</option>
              {% for catalogo in catalogos %}
              <option value="{{catalogo.idCatalogo}}">
                {{catalogo.categoria}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="text-center">
            <div class="text-center">
              <button type="submit" class="btn btn-actualizar">
                Actualizar <i class="bx bx-refresh"></i>
              </button>
              <button
                type="reset"
                class="btn btn-cancelar"
                data-bs-dismiss="modal"
              >
                Cancelar <i class="bx bx-message-square-x"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('idProveedor').value =
    '{{producto.proveedor.idProveedor}}'
  document.getElementById('idCatalogo').value =
    '{{producto.catalogo.idCatalogo}}'
</script>

<!-- End Modal -->

{%endblock%}
